body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body * {
  box-sizing: border-box;
}
/*PAGINA INICIAL*/
.main-login {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-login h1 {
  color: #00dbc2;
}
/* .back-page {
  background-color: #002e2900;
  color: #e4e4e4;
} */
.left-login h1 {
  font-size: 3vw;
  color: #00dbc2;
}
.img {
  width: 35vw;
}
.right-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-login h1 {
  color: #00dbc2;
}
.card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #b1b1b1;
}

.botoes {
  width: 100%;
  padding: 16px 0px;
  border: none;
  border-radius: 8px;
  outline: none;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  box-shadow: 4px 8px 35px -9px #00dbc2;
}
/* PAGINA CADASTRO ALUNO */
.main-geral {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #fdfdfd;
  justify-content: center;
  align-items: center;
}
.left-geral {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left-geral h1 {
  font-size: 3vw;
  color: #00dbc2;
}
.right-geral {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-geral h1 {
  color: #00dbc2;
  margin: 20px;
}
.card-geral {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #b1b1b1;
}
.card-cadastro {
  width: 60%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #b1b1b1;
}
.botoes {
  width: 100%;
  padding: 16px 0px;
  border: none;
  border-radius: 8px;
  outline: none;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: 4px 8px 35px -9px #00dbc2;
}
.textfield {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}
.textfield input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #cbd7e7;
  color: #a8a8a8;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #d2e1e7;
  outline: none;
  box-sizing: border-box;
}
.textfield label {
  color: #353535de;
  margin-bottom: 10px;
}
.textfield input::placeholder {
  color: #f5f5f5b9;
}
.btn-login {
  margin-top: 32px;
  width: 100%;
  padding: 16px 0px;
  border: none;
  border-radius: 8px;
  outline: none;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #e4e4e4;
  background-color: #00dbc2;
  box-shadow: 4px 8px 35px -9px #00dbc2;
}
.btn-login:hover {
  transition-duration: 1ms;
  background-color: #00dbc2;
  box-shadow: 4px 8px 35px -9px #b1b1b1;
}
/* PAGINA LOGIN ALUNO */
/* PAGINA LOGIN PROFESSOR */
.main-login a {
  display: inline-block;
  margin: 15px 0;
  padding: 10px 20px;
  background-color: #00dbc2;
  color: #3f3f3f;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.card-login a:hover {
  transition-duration: 1ms;
  background-color: #00dbc2;
  box-shadow: 4px 8px 35px -9px #b1b1b1;
}

@media only screen and (max-width: 950px) {
  .card-login,
  .card-geral,
  .card-cadastro {
    width: 75%;
  }
  body {
    background-color: #3a3a3a;
  }
}
/* Pagina inicial  */
@media only screen and (max-width: 600px) {
  .main-login,
  .main-geral {
    flex-direction: column;
  }
  .left-login,
  .left-geral > h1 {
    display: none;
  }
  .left-login,
  .left-geral {
    width: 100%;
    height: auto;
  }
  .right-login,
  .right-geral {
    width: 100%;
    height: auto;
  }
  .img {
    width: 35vh;
  }
  .card-geral,
  .card-login,
  .card-cadastro {
    width: 80%;
    height: 90%;
  }
}
  a {
    font-family: sans-serif;
    text-decoration: none;
  }
  
  .header {
    background: rgb(255, 255, 255);
    padding-inline: 16px;
  }
  
  .nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 48px;
    color: #00dbc2;
  }
  
  .nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
  }
  
  .nav-list a {
    font-size: 18px;
    color: #00dbc2;
    padding-block: 16px;
  }
  
  .hero {
    height: calc(100vh - 70px);
    background-color: #e4e4e4;
  }
  
  .hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
  }
  
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
  }
  /* responsividade */
  @media (max-width: 750px) {
    .hamburger {
      display: block;
      z-index: 1;
    }
  
    .nav-list {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgb(68, 68, 68);
      clip-path: circle(100px at 90% -15%);
      transition: 1s ease-out;
  
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 0;
  
      pointer-events: none;
    }
  
    .nav-list a {
      font-size: 24px;
      opacity: 0;
    }
  
    .nav-list li:nth-child(1) a {
      transition: 0.5s 0.2s;
    }
  
    .nav-list li:nth-child(2) a {
      transition: 0.5s 0.4s;
    }
  
    .nav-list li:nth-child(3) a {
      transition: 0.5s 0.6s;
    }
  
    /* Estilos ativos */
  
    .nav.active .nav-list {
      clip-path: circle(1500px at 90% -15%);
      pointer-events: all;
    }
  
    .nav.active .nav-list a {
      opacity: 1;
    }
  
    .nav.active .hamburger {
      position: fixed;
      top: 26px;
      right: 16px;
      border-top-color: transparent;
    }
  
    .nav.active .hamburger::before {
      transform: rotate(135deg);
    }
  
    .nav.active .hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
}
